# variables that change
cmla.samples = 1
seed = 107
cmla.alpha = 1
problem = MaxOnesProblem
cmla.generations = 10000
algorithm = CMLA

# common variables among all runs
runs = 50
loglevel = all
statflags = freq_change, gen_num, eval_num, bsf_fitness
problem.blocksize = 5
problem.trapsize = 5
cmla.genome_size = 100
cmla.beta = 0
cmla.tournament_size = 2
cmla.use_historical_best = false
