algorithm = CMLA
seed = 103243
runs = 50
loglevel = all
statflags = freq_change, gen_num, eval_num, bsf_fitness
finalstats = false
#finalstats_resolution = 100

problem = LOBProblem
problem.blocksize = 5
problem.trapsize = 5

cmla.samples = 1
cmla.generations = 3000
cmla.genome_size = 100
cmla.alpha = 0.05
cmla.beta = 0
cmla.tournament_size = 2
cmla.use_historical_best = false

pbil.samples = 100
pbil.generations = 2000
pbil.genome_size = 100
pbil.selection_size = 10
pbil.learn_rate = 0.005

cga.generations = 180000
cga.genome_size = 100
cga.n = 1005

umda.generations = 2000
umda.genome_size = 100
umda.population_size = 600
umda.selection_size = 200
